@font-face {
  font-family: Josefin;
  src: url(../font/JosefinSans-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Josefin;
  background: #ffffff;
  line-height: 1.4;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 25px;
}

.btn_info, .hero_content .hero-btn, .about_content .about_btn {
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: 33px;
  font-size: 1.25rem;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn_info:hover, .hero_content .hero-btn:hover, .about_content .about_btn:hover {
  background: #f58650;
}

header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header.active {
  padding: .8rem 0;
  background-color: #f8f9fa;
  position: fixed;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar-brand h3 {
  font-size: 1.25rem;
  color: #191a20;
  font-weight: 600;
}

header .navbar-nav li:not(:first-child) {
  margin-left: 2rem;
}

header .navbar-nav li a {
  font-size: 1.125rem;
  color: #7a7a7a !important;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

header .navbar-nav li a.active {
  color: #fba70b !important;
}

header .navbar-nav li a:hover {
  color: #fba70b !important;
}

@media (max-width: 991.98px) {
  header .navbar-nav li {
    margin-left: 0 !important;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../images/banner-bg.png) no-repeat right top;
  min-height: 720px;
}

.hero_content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.hero_content h1 span {
  color: #fba70b;
}

.hero_content p {
  color: #7a7a7a;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

.hero_content .hero-btn {
  margin-top: 1.5rem;
  background-color: #fba70b;
}

@media (max-width: 991.98px) {
  .hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .hero_content {
    position: relative;
    color: #fff;
    z-index: 1;
  }
  .hero_content p {
    color: #fff;
  }
}

.about {
  padding: 6.25rem 0;
}

.about_content {
  padding: 2rem 1rem;
}

.about_content p {
  color: #7a7a7a;
}

.about_content .about_btn {
  margin-top: 2rem;
  background-color: #f58650;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.about_content .about_btn:hover {
  opacity: 0.7;
}

@media (max-width: 991.98px) {
  .about_content {
    padding: 1rem 0rem !important;
  }
}

.service {
  padding: 6.25rem 0;
}

.testimonials .owl-carousel {
  width: 100%;
}

.testimonials .owl-carousel .service_item {
  position: relative;
  display: block;
  margin: 3rem 3rem;
  height: auto;
  background: -webkit-gradient(linear, right top, left top, from(#f58650), to(#f1556a));
  background: linear-gradient(to left, #f58650, #f1556a);
  padding: 3rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  z-index: 99;
}

.testimonials .owl-carousel .service_item .testimonials_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .owl-carousel .service_item .testimonials_content ul li {
  margin: 0 .2rem;
  color: #fff;
}

.testimonials .owl-carousel .service_item .author {
  position: absolute;
  left: -45px;
  top: -45px;
  max-width: 100px;
  color: #fff;
}

.testimonials .owl-carousel .service_item .author img {
  width: 100%;
  height: 100%;
}

.testimonials .owl-carousel .service_item h3 {
  margin-top: 1rem;
}

.testimonials_title h2 span {
  color: #f58650;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -85px;
  top: 50%;
  width: 64px;
  height: 64px;
  background: -webkit-gradient(linear, right top, left top, from(#f58650), to(#f1556a));
  background: linear-gradient(to left, #f58650, #f1556a);
  border-radius: 5px;
}

.owl-carousel .owl-nav button.owl-next span {
  font-size: 2rem;
  color: #fff;
}

.owl-carousel .owl-nav button.owl-next:focus {
  border: none;
  outline: none;
}

.owl-carousel .owl-nav button.owl-next:hover {
  opacity: 0.7;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  right: -50px;
  top: 37%;
  width: 64px;
  height: 64px;
  background: -webkit-gradient(linear, right top, left top, from(#f58650), to(#f1556a));
  background: linear-gradient(to left, #f58650, #f1556a);
  border-radius: 5px;
}

.owl-carousel .owl-nav button.owl-prev span {
  font-size: 2rem;
  color: #fff;
}

.owl-carousel .owl-nav button.owl-prev:focus {
  border: none;
  outline: none;
}

.owl-carousel .owl-nav button.owl-prev:hover {
  opacity: 0.7;
}

@media (max-width: 991px) {
  .owl-carousel .owl-nav button.owl-prev {
    display: none !important;
  }
  .owl-carousel .owl-nav button.owl-next {
    display: none !important;
  }
}

.footer {
  margin-top: 3rem;
  width: 100%;
  height: 100vh;
  min-height: 850px;
  background: url(../images/footer-bg.png) no-repeat center center;
  background-size: cover;
}

.footer .footer_form {
  padding: 3rem 2rem;
}

.footer .footer_form textarea {
  min-height: 150px;
}

.footer .footer_content h1 span {
  color: #fba70b;
}

.footer .footer_content p {
  line-height: 25px;
}

.footer .footer_content .social_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer_content .social_icon a {
  margin: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  width: 45px;
  height: 45px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer .footer_content .social_icon a:hover {
  background: #fba70b;
  color: #fff;
}

.footer .footer_info {
  margin-top: 4rem;
}

@media (max-width: 991.98px) {
  .footer {
    height: auto !important;
    min-height: auto !important;
  }
  .footer_info {
    padding: 2rem 0;
  }
  .footer_info p {
    line-height: 25px;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */